.popup {
  width: 303px;
  height: 400px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.popup-header {
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  text-align: center;
}

.popup-body {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.tablinks {
  padding: 4px 8px;  // Verkleinere die Tabs
  margin: 0 2px;     // Verringere den Abstand zwischen den Tabs
  cursor: pointer;
  background-color: #f1f1f1;
  border: none;
  border-radius: 4px;
  font-size: 12px;   // Verringere die Schriftgröße
}

.tablinks.active, .tablinks:hover {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  flex: 1;
  overflow-y: auto;
}

.tabcontent.active {
  display: block;
}

.forecast {
  display: flex;
  flex-direction: column;
}

.forecast-header,
.forecast-row {
  display: flex;
  justify-content: space-between;
}

.forecast-header {
  font-weight: bold;
  margin-bottom: 5px;
}

.forecast-row {
  margin-bottom: 5px;
}

.forecast-row span {
  flex: 1;
  text-align: center;
}